.app {
  padding: 1rem;
  background-color: #eaeaea;
  height: 100vh;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media screen and (max-width: 768px) {
  .card__container {
    grid-template-columns: 1fr;
  }
}
